@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
.bold, .header-wrapper .active {
  font-weight: 700;
}

.light {
  font-weight: 600;
}

.blue {
  color: #072D4B;
}

.black {
  color: #13151A;
}

.grey {
  color: #5E6B81;
}

.txt-center {
  text-align: center;
}

.flex, .flex-center-center, .flex-vert-center, .flex-horiz-center {
  display: flex;
}

.flex-horiz-center, .flex-center-center {
  justify-content: center;
}

.flex-vert-center, .flex-center-center {
  align-items: center;
}

/*
    Text Sizes
 */
.txt-sm {
  font-size: 16px;
}

.txt-md {
  font-size: 24px;
}

.txt-lg {
  font-size: 32px;
}

.txt-xl {
  font-size: 40px;
}

.txt-xxl {
  font-size: 52px;
}

@media only screen and (min-width: 992px) {
  .txt-sm {
    font-size: 26px;
  }

  .txt-md {
    font-size: 32px;
  }

  .txt-lg {
    font-size: 40px;
  }

  .txt-xl {
    font-size: 52px;
  }

  .txt-xxl {
    font-size: 60px;
  }
}
/***
 *      _____ _______  _______
 *     |_   _| ____\ \/ /_   _|
 *       | | |  _|  \  /  | |
 *       | | | |___ /  \  | |
 *       |_| |_____/_/\_\ |_|
 *
 */
h1, h2, h3, h4, h5, p, ul, li {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #13151A;
}

h1, h2 {
  font-weight: 700;
  margin-bottom: 8px;
}

h3, h5 {
  font-weight: 500;
}

h1 {
  font-size: 22px;
  line-height: 32px;
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 35px;
    line-height: 44px;
  }
}

h2 {
  font-size: 22px;
  line-height: 30px;
}
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 30px;
    line-height: 42px;
  }
}

h3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 12px;
  }
}

h4 {
  font-weight: 400;
  color: #13151A;
  font-size: 18px;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 25px;
  }
}

h5 {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 992px) {
  h5 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 12px;
  }
}

p {
  font-weight: 400;
  color: #13151A;
  font-size: 14px;
}
p.caps {
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 992px) {
  p {
    font-size: 26px;
  }
  p.caps {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

body, li, a {
  font-family: "Open Sans", sans-serif;
  color: black;
  text-decoration: none;
  text-underline: none;
}
body:visited, li:visited, a:visited {
  color: black;
}
body:hover, li:hover, a:hover {
  color: black;
}

a {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  padding-bottom: 5px;
}

p {
  font-size: 18px;
}

/***
 *      _   _    ___     ______    _    ____
 *     | \ | |  / \ \   / / __ )  / \  |  _ \
 *     |  \| | / _ \ \ / /|  _ \ / _ \ | |_) |
 *     | |\  |/ ___ \ V / | |_) / ___ \|  _ <
 *     |_| \_/_/   \_\_/  |____/_/   \_\_| \_\
 *
 */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header-wrapper .logo {
  max-width: 108px;
}
.header-wrapper .logo a {
  height: 0;
}
.header-wrapper img {
  max-width: 100%;
}
.header-wrapper .nav-links {
  display: flex;
  font-size: 20px;
  margin-top: 24px;
}
.header-wrapper a {
  text-decoration: none;
}
.header-wrapper a + a {
  margin-left: 20px;
}
@media only screen and (min-width: 992px) {
  .header-wrapper {
    align-items: center;
  }
  .header-wrapper .logo {
    max-width: 239px;
  }
  .header-wrapper .nav-links {
    font-size: 24px;
    flex-flow: row;
    margin-top: 0;
    margin-right: 5px;
  }
}

/***
 *      ____   ___  ______   __
 *     | __ ) / _ \|  _ \ \ / /
 *     |  _ \| | | | | | \ V /
 *     | |_) | |_| | |_| || |
 *     |____/ \___/|____/ |_|
 *
 */
body {
  background: #FFFFFF;
  margin-top: 24px;
}
@media only screen and (min-width: 992px) {
  body {
    padding-top: 40px;
  }
}

/***
 *       ____ _        _    ____ ____  _____ ____
 *      / ___| |      / \  / ___/ ___|| ____/ ___|
 *     | |   | |     / _ \ \___ \___ \|  _| \___ \
 *     | |___| |___ / ___ \ ___) |__) | |___ ___) |
 *      \____|_____/_/   \_\____/____/|_____|____/
 *
 */
.bg-pink {
  background: #FA92C4;
}

.bg-orange {
  background: #F4483D;
}

.bg-green {
  background: #8C8E1C;
}

.bg-black {
  background: #000000;
}

.bg-blue {
  background: #4EAAFF;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 992px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: unset;
  }
}

/*# sourceMappingURL=global.css.map */
