@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
.bold {
  font-weight: 700;
}

.light {
  font-weight: 600;
}

.blue {
  color: #072D4B;
}

.black {
  color: #13151A;
}

.grey {
  color: #5E6B81;
}

.txt-center {
  text-align: center;
}

.flex, .flex-center-center, .flex-vert-center, .flex-horiz-center {
  display: flex;
}

.flex-horiz-center, .flex-center-center {
  justify-content: center;
}

.flex-vert-center, .flex-center-center {
  align-items: center;
}

/*
    Text Sizes
 */
.txt-sm {
  font-size: 16px;
}

.txt-md {
  font-size: 24px;
}

.txt-lg {
  font-size: 32px;
}

.txt-xl {
  font-size: 40px;
}

.txt-xxl {
  font-size: 52px;
}

@media only screen and (min-width: 992px) {
  .txt-sm {
    font-size: 26px;
  }
  .txt-md {
    font-size: 32px;
  }
  .txt-lg {
    font-size: 40px;
  }
  .txt-xl {
    font-size: 52px;
  }
  .txt-xxl {
    font-size: 60px;
  }
}
.illustrations {
  /* Hamburger menu */
  /* Hamburger button */
}
.illustrations nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.illustrations .logo img {
  width: 50px; /* Adjust as desired */
  height: auto;
}
.illustrations .logo {
  display: flex;
  align-items: center;
}
.illustrations nav ul {
  display: flex;
}
.illustrations nav li {
  list-style: none;
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .illustrations nav ul {
    /* Other styles here */
  }
  .illustrations nav ul.active {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .illustrations .logo {
    display: none;
  }
  .illustrations nav ul {
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    left: auto;
    background-color: #FABAAC;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .illustrations nav ul.active {
    transform: translateX(0);
  }
  .illustrations nav li {
    margin: 10px 0;
  }
  .illustrations nav li a {
    color: #444;
  }
}
.illustrations .hamburger {
  display: none;
}
@media (max-width: 768px) {
  .illustrations .hamburger {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
  }
  .illustrations .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #444;
    margin: 5px;
  }
}
.illustrations .header-wrapper {
  margin-bottom: 34px;
}
@media only screen and (min-width: 992px) {
  .illustrations {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 20px) and (max-width: 1040px) {
  .illustrations {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.illustrations h1, .illustrations h2, .illustrations h3, .illustrations h4, .illustrations h5 {
  margin: 0 0 12px 0;
}
.illustrations p + p {
  margin-top: 0;
}
.illustrations p {
  color: #5E6B81;
}
.illustrations .underline {
  width: 95px;
  border-radius: 3px;
  margin-bottom: 14px;
  border: 3px solid #FA92C4;
}
@media only screen and (min-width: 992px) {
  .illustrations .underline {
    width: 165px;
    margin-bottom: 24px;
  }
}
.illustrations section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .illustrations section {
    margin-bottom: 40px;
  }
}
.illustrations .tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.illustrations .tiles .tile {
  text-decoration: none;
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
}
.illustrations .tiles img {
  width: 100%;
  border-radius: 20px;
}
@media only screen and (min-width: 992px) {
  .illustrations .tiles .tile {
    max-width: unset;
    margin-bottom: 30px;
    flex-basis: 30%;
    display: flex;
    flex-flow: column;
  }
  .illustrations .tiles img {
    font-size: 17px;
    margin: 20px auto auto;
  }
}
.illustrations #social {
  align-items: center;
}
.illustrations #social p {
  color: #13151A;
}
@media only screen and (min-width: 992px) {
  .illustrations #social {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=illustrations.css.map */
