@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
.bold, .project #current-design .analytic-1 .answer, .project #current-design .analytic-2 .answer, .project #current-design .analytic-3 .answer {
  font-weight: 700;
}

.light {
  font-weight: 600;
}

.blue {
  color: #072D4B;
}

.black {
  color: #13151A;
}

.grey {
  color: #5E6B81;
}

.txt-center, .project #current-design .analytic-1, .project #current-design .analytic-2, .project #current-design .analytic-3 {
  text-align: center;
}

.flex, .flex-center-center, .flex-vert-center, .flex-horiz-center {
  display: flex;
}

.flex-horiz-center, .flex-center-center {
  justify-content: center;
}

.flex-vert-center, .flex-center-center {
  align-items: center;
}

/*
    Text Sizes
 */
.txt-sm, .project #current-design .analytic-1 .question, .project #current-design .analytic-2 .question, .project #current-design .analytic-3 .question {
  font-size: 16px;
}

.txt-md {
  font-size: 24px;
}

.txt-lg {
  font-size: 32px;
}

.txt-xl {
  font-size: 40px;
}

.txt-xxl {
  font-size: 52px;
}

@media only screen and (min-width: 992px) {
  .txt-sm, .project #current-design .analytic-1 .question, .project #current-design .analytic-2 .question, .project #current-design .analytic-3 .question {
    font-size: 26px;
  }

  .txt-md {
    font-size: 32px;
  }

  .txt-lg {
    font-size: 40px;
  }

  .txt-xl {
    font-size: 52px;
  }

  .txt-xxl {
    font-size: 60px;
  }
}
.project {
  max-width: 1100px;
  background: #FFFFFF;
  margin-left: 24px;
  margin-right: 24px;
  /***
   *      _____ _______  _______
   *     |_   _| ____\ \/ /_   _|
   *       | | |  _|  \  /  | |
   *       | | | |___ /  \  | |
   *       |_| |_____/_/\_\ |_|
   *
   */
  /***
   *       ____ ___  _   _ _____  _    ___ _   _ _____ ____  ____
   *      / ___/ _ \| \ | |_   _|/ \  |_ _| \ | | ____|  _ \/ ___|
   *     | |  | | | |  \| | | | / _ \  | ||  \| |  _| | |_) \___ \
   *     | |__| |_| | |\  | | |/ ___ \ | || |\  | |___|  _ < ___) |
   *      \____\___/|_| \_| |_/_/   \_\___|_| \_|_____|_| \_\____/
   *
   */
  /***
   *      _____ _     _____ __  __ _____ _   _ _____ ____
   *     | ____| |   | ____|  \/  | ____| \ | |_   _/ ___|
   *     |  _| | |   |  _| | |\/| |  _| |  \| | | | \___ \
   *     | |___| |___| |___| |  | | |___| |\  | | |  ___) |
   *     |_____|_____|_____|_|  |_|_____|_| \_| |_| |____/
   *
   */
  /***
   *      ____  _____ ____ _____ ___ ___  _   _ ____
   *     / ___|| ____/ ___|_   _|_ _/ _ \| \ | / ___|
   *     \___ \|  _|| |     | |  | | | | |  \| \___ \
   *      ___) | |__| |___  | |  | | |_| | |\  |___) |
   *     |____/|_____\____| |_| |___\___/|_| \_|____/
   *
   */
}
@media only screen and (min-width: 992px) {
  .project {
    margin-left: auto;
    margin-right: auto;
  }
}
.project h4 {
  color: #5E6B81;
}
.project p {
  color: #5E6B81;
}
.project p.blue {
  font-weight: 700;
  line-height: 18px;
}
@media only screen and (min-width: 992px) {
  .project p.blue {
    line-height: 36px;
    margin-bottom: 30px;
  }
}
.project ul {
  list-style-type: disc;
  color: #D2A570;
  margin-bottom: 0;
}
.project ul li::before {
  color: #D2A570;
}
.project ul li {
  color: #5E6B81;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 992px) {
  .project ul li {
    font-size: 17px;
    line-height: 20px;
  }
}
.project .section {
  width: 100%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .project .section {
    margin-bottom: 150px;
  }
}
.project .full {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .project .full {
    width: 100%;
    flex-direction: row;
    margin-bottom: 0;
  }
}
.project .half {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .project .half {
    width: 50%;
    flex-direction: row;
  }
}
.project .third {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .project .third {
    width: 33%;
  }
}
.project .text {
  display: flex;
  flex-flow: column;
}
.project .list {
  display: flex;
  flex-flow: column;
}
.project .image {
  margin-left: auto;
  margin-right: auto;
}
.project .text-image {
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .project .text-image {
    flex-direction: row;
  }
}
.project .text-image-flip {
  flex-direction: column-reverse;
}
@media only screen and (min-width: 992px) {
  .project .text-image-flip {
    flex-direction: row;
  }
}
.project .double-image img {
  margin-left: auto;
  margin-right: auto;
  max-width: 45%;
}
@media only screen and (min-width: 992px) {
  .project .double-image img {
    max-width: 550px;
  }
}
.project .underline {
  width: 95px;
  border: 3px solid #D2A570;
  border-radius: 3px;
  margin-bottom: 14px;
}
@media only screen and (min-width: 992px) {
  .project .underline {
    width: 165px;
    margin-bottom: 24px;
  }
}
.project img {
  max-width: 100%;
}
@media only screen and (min-width: 992px) {
  .project img {
    max-width: 1100px;
  }
}
.project #cover {
  flex-direction: column;
  margin-top: 16px;
}
.project #cover .logo {
  width: 100px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 992px) {
  .project #cover {
    margin-top: 40px;
  }
  .project #cover .logo {
    width: 145px;
    margin-bottom: 15px;
  }
  .project #cover h1 {
    max-width: 1152px;
  }
  .project #cover h4 {
    margin-bottom: 600px;
  }
}
.project #overview h2 {
  max-width: 1060px;
}
.project #overview p {
  margin-bottom: 24px;
}
.project #overview .skill-lists {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .project #overview .skill-lists {
    flex-flow: row;
  }
}
.project #overview .text {
  width: 100%;
}
.project #overview img {
  max-width: 80vw;
}
.project #overview .part-2 .text {
  padding-right: 16px;
}
@media only screen and (min-width: 992px) {
  .project #overview {
    margin-bottom: 128px;
  }
  .project #overview .list {
    margin-top: 40px;
  }
  .project #overview img {
    max-height: 832px;
  }
}
.project #goals .image {
  margin-top: 20px;
  justify-content: center;
}
.project #goals img {
  max-width: 154px;
}
.project #goals .text {
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  .project #goals {
    margin-bottom: 90px;
  }
  .project #goals .image {
    margin-top: unset;
  }
}
.project #current-design .icon svg {
  max-width: 74px;
  max-height: 74px;
}
.project #current-design .analytics {
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.project #current-design .analytic-1, .project #current-design .analytic-2, .project #current-design .analytic-3 {
  border-bottom: solid 18px;
}
.project #current-design .analytic-1 .question, .project #current-design .analytic-2 .question, .project #current-design .analytic-3 .question {
  text-transform: uppercase;
  font-weight: 500;
}
.project #current-design .analytic-1 .answer, .project #current-design .analytic-2 .answer, .project #current-design .analytic-3 .answer {
  margin-top: 0;
  color: #072D4B;
}
.project #current-design .third + .third {
  margin-top: 20px;
}
.project #current-design .analytic-1 {
  border-color: #E8CFB3;
}
.project #current-design .analytic-2 {
  border-color: #D2A570;
}
.project #current-design .analytic-3 {
  border-color: #FABAAC;
}
@media only screen and (min-width: 992px) {
  .project #current-design .analytics {
    justify-content: space-between;
    margin-bottom: 105px;
  }
  .project #current-design .analytic-1, .project #current-design .analytic-2, .project #current-design .analytic-3 {
    max-width: 300px;
    border-bottom: solid 24px;
  }
  .project #current-design .analytic-1 .question, .project #current-design .analytic-2 .question, .project #current-design .analytic-3 .question {
    margin-bottom: 16px;
  }
  .project #current-design .analytic-1 .answer, .project #current-design .analytic-2 .answer, .project #current-design .analytic-3 .answer {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
.project #meet-robyn h3 {
  margin-bottom: 12px;
}
.project #meet-robyn .part-1 {
  margin-top: 20px;
}
.project #meet-robyn .part-1 img {
  max-width: 60vw;
  max-height: 60vh;
  margin-bottom: 20px;
}
.project #meet-robyn .part-2 {
  margin-top: 20px;
}
.project #meet-robyn .part-2 .image {
  margin-bottom: 20px;
}
.project #meet-robyn .part-2 img {
  max-height: 40vh;
}
.project #meet-robyn .part-2 .full {
  margin-bottom: 15px;
}
.project #meet-robyn .part-2 br {
  display: none;
}
@media only screen and (min-width: 992px) {
  .project #meet-robyn {
    margin-top: unset;
  }
  .project #meet-robyn .part-1 img {
    max-height: 365px;
    max-width: 355px;
    margin-bottom: unset;
  }
  .project #meet-robyn .part-1 h5 {
    max-width: 530px;
  }
  .project #meet-robyn .part-2 {
    margin-top: unset;
  }
  .project #meet-robyn .part-2 img {
    max-height: 670px;
  }
  .project #meet-robyn .part-2 .full {
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .project #meet-robyn .part-2 .full .text {
    max-width: 650px;
  }
}
.project #usability-testing #sticky-notes {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project #usability-testing #sticky-notes img {
  max-width: 50%;
}
.project #usability-testing .image {
  display: flex;
  gap: 24px;
}
.project #usability-testing .double-image {
  margin-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  .project #usability-testing {
    max-width: unset;
  }
  .project #usability-testing .image {
    display: flex;
    gap: 24px;
  }
  .project #usability-testing img {
    max-height: 670px;
  }
}
.project #user-centered {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .project #user-centered {
    margin-bottom: 30px;
  }
}
.project #pain-points .image {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
}
.project #pain-points:first-of-type {
  margin-right: 32px;
}
.project #pain-points .text {
  justify-content: center;
  max-width: 400px;
}
@media only screen and (min-width: 992px) {
  .project #pain-points h5 {
    margin-bottom: 60px;
  }
  .project #pain-points .image {
    margin-bottom: unset;
  }
  .project #pain-points img {
    max-height: 670px;
  }
  .project #pain-points .full {
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .project #pain-points .full:first-child {
    margin-right: 16px;
  }
}
.project #video video {
  max-width: 1100px;
  max-height: 620px;
}
.project #takeaways img {
  display: none;
}
@media only screen and (min-width: 992px) {
  .project #takeaways img {
    display: block;
    max-width: 340px;
  }
}

/*# sourceMappingURL=project.css.map */
