@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
.bold, .gennev #closer-look .analytic-1 .answer, .gennev #closer-look .analytic-2 .answer, .gennev #closer-look .analytic-3 .answer {
  font-weight: 700;
}

.light {
  font-weight: 600;
}

.blue {
  color: #072D4B;
}

.black {
  color: #13151A;
}

.grey {
  color: #5E6B81;
}

.txt-center, .gennev #closer-look .analytic-1, .gennev #closer-look .analytic-2, .gennev #closer-look .analytic-3 {
  text-align: center;
}

.flex, .flex-center-center, .gennev #closer-look .circle, .gennev #closer-look .open-circle .inner-circle, .flex-vert-center, .flex-horiz-center {
  display: flex;
}

.flex-horiz-center, .flex-center-center, .gennev #closer-look .circle, .gennev #closer-look .open-circle .inner-circle {
  justify-content: center;
}

.flex-vert-center, .flex-center-center, .gennev #closer-look .circle, .gennev #closer-look .open-circle .inner-circle {
  align-items: center;
}

/*
    Text Sizes
 */
.txt-sm, .gennev #closer-look .analytic-1 .question, .gennev #closer-look .analytic-2 .question, .gennev #closer-look .analytic-3 .question, .gennev ul li, .gennev p {
  font-size: 16px;
}

.txt-md, .gennev h5, .gennev h4 {
  font-size: 24px;
}

.txt-lg, .gennev h3 {
  font-size: 32px;
}

.txt-xl, .gennev h2 {
  font-size: 40px;
}

.txt-xxl, .gennev h1 {
  font-size: 52px;
}

@media only screen and (min-width: 992px) {
  .txt-sm, .gennev #closer-look .analytic-1 .question, .gennev #closer-look .analytic-2 .question, .gennev #closer-look .analytic-3 .question, .gennev ul li, .gennev p {
    font-size: 26px;
  }

  .txt-md, .gennev h5, .gennev h4 {
    font-size: 32px;
  }

  .txt-lg, .gennev h3 {
    font-size: 40px;
  }

  .txt-xl, .gennev h2 {
    font-size: 52px;
  }

  .txt-xxl, .gennev h1 {
    font-size: 60px;
  }
}
.gennev {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
}
.gennev h1, .gennev h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 76px;
  color: #13151A;
  margin-top: 0;
  margin-bottom: 8px;
}
.gennev h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: 0.03em;
}
.gennev h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: -0.02em;
  color: #5E6B81;
}
.gennev h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #13151A;
  margin-top: 28px;
  margin-bottom: 0;
}
.gennev p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.02em;
}
.gennev ul {
  list-style-type: disc;
  color: #D2A570;
}
.gennev ul li::before {
  color: #D2A570;
}
.gennev ul li {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: #13151A;
}
.gennev .section {
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}
.gennev .full {
  width: 100%;
  display: flex;
}
.gennev .half {
  width: 50%;
  display: flex;
}
.gennev .third {
  width: 33%;
  display: flex;
  flex-flow: column;
}
.gennev .text {
  display: flex;
  flex-flow: column;
}
.gennev .underline {
  width: 165px;
  border: 3px solid #D2A570;
  border-radius: 3px;
}
.gennev #cover {
  flex-direction: column;
  margin-top: 40px;
  background-image: url("./../img/gennev-cover.png");
  background-position: right 105px bottom 20%;
  background-repeat: no-repeat;
  margin-right: 105px;
}
.gennev #cover .logo {
  width: 176px;
  margin-bottom: 25px;
}
.gennev #cover h1 {
  max-width: 1152px;
  margin-top: 0;
}
.gennev #cover h4 {
  margin-top: 0;
  margin-bottom: 600px;
}
.gennev #cover .duration {
  margin-bottom: 92px;
}
.gennev #cover .duration p {
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
}
.gennev #cover .duration p b {
  font-weight: 600;
  color: #13151A;
}
.gennev #overview {
  margin-bottom: 128px;
}
.gennev #overview h2 {
  max-width: 1060px;
}
.gennev #overview p {
  margin-bottom: 24px;
}
.gennev #overview .skill-lists {
  display: flex;
  flex-flow: row;
}
.gennev #overview .text {
  width: 100%;
}
.gennev #overview .image {
  max-height: 832px;
}
.gennev #overview .part-2 .text {
  padding-right: 16px;
}
.gennev #overview .part-3 {
  margin-top: 40px;
}
.gennev #goals {
  margin-bottom: 90px;
}
.gennev #goals .half.image {
  justify-content: center;
}
.gennev #goals .half.text {
  justify-content: center;
}
.gennev #closer-look .part {
  width: 100%;
  height: 162px;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  border-radius: 81px;
}
.gennev #closer-look .open-circle {
  background-image: url("./../img/gennev-open-circle.png");
  position: absolute;
  height: 204px;
  width: 204px;
}
.gennev #closer-look .open-circle .inner-circle {
  width: 164px;
  height: 164px;
  background: #FFFFFF;
  border-radius: 50%;
}
.gennev #closer-look .circle {
  width: 114px;
  height: 114px;
  background: linear-gradient(90deg, #D4E2E2 4612%, #6A82FB 11057%);
  border-radius: 50%;
  margin-left: 45px;
  margin-top: calc((162px - 114px) / 2);
}
.gennev #closer-look .pill-text {
  text-align: left;
  flex-direction: column;
  margin-left: 90px;
}
.gennev #closer-look .analytics-header {
  margin-top: 128px;
  margin-bottom: 64px;
}
.gennev #closer-look .analytics {
  justify-content: space-between;
  margin-bottom: 105px;
}
.gennev #closer-look .analytic-1, .gennev #closer-look .analytic-2, .gennev #closer-look .analytic-3 {
  max-width: 300px;
  border-bottom: solid 24px;
}
.gennev #closer-look .analytic-1 .question, .gennev #closer-look .analytic-2 .question, .gennev #closer-look .analytic-3 .question {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 16px;
}
.gennev #closer-look .analytic-1 .answer, .gennev #closer-look .analytic-2 .answer, .gennev #closer-look .analytic-3 .answer {
  margin-top: 0;
  margin-bottom: 30px;
  color: #072D4B;
}
.gennev #closer-look .analytic-1 {
  border-color: #E8CFB3;
}
.gennev #closer-look .analytic-2 {
  border-color: #D2A570;
}
.gennev #closer-look .analytic-3 {
  border-color: #FABAAC;
}
.gennev #meet-robyn .part-1 h5 {
  max-width: 530px;
}
.gennev #meet-robyn .part-1 img {
  max-height: 365px;
  max-width: 355px;
}

/*# sourceMappingURL=project.css.map */
