@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap");
body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
}

.gennev h1, .gennev h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 76px;
  color: #13151A;
  margin-top: 0;
  margin-bottom: 8px;
}
.gennev h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: 0.03em;
}
.gennev h2 {
  font-size: 56px;
}
.gennev h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: 0.02em;
  color: #13151A;
}
.gennev h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #5E6B81;
}
.gennev p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #5E6B81;
}
.gennev ul {
  list-style-type: disc;
  color: #D2A570;
}
.gennev ul li::before {
  color: #D2A570;
}
.gennev ul li {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #5E6B81;
}
.gennev .section {
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}
.gennev .full {
  width: 100%;
  display: flex;
}
.gennev .half {
  width: 50%;
  display: flex;
}
.gennev .third {
  width: 33%;
  display: flex;
  flex-flow: column;
}
.gennev .text {
  display: flex;
  flex-flow: column;
}
.gennev .underline {
  width: 165px;
  border: 3px solid #D2A570;
  border-radius: 3px;
}
.gennev #cover {
  flex-direction: column;
  margin-top: 40px;
  background-image: url("./../img/gennev-cover.png");
  background-position: right 105px bottom 20%;
  background-repeat: no-repeat;
  margin-right: 105px;
}
.gennev #cover .logo {
  width: 176px;
  margin-bottom: 25px;
}
.gennev #cover h1 {
  max-width: 1152px;
  margin-top: 0;
}
.gennev #cover h4 {
  margin-top: 0;
  margin-bottom: 600px;
}
.gennev #cover .duration {
  margin-bottom: 92px;
}
.gennev #cover .duration p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
}
.gennev #cover .duration p b {
  font-weight: 700;
  color: #13151A;
}
.gennev #overview {
  margin-bottom: 128px;
}
.gennev #overview h2 {
  max-width: 1060px;
}
.gennev #overview h5 {
  margin-top: 28px;
  margin-bottom: 0;
}
.gennev #overview p {
  margin-bottom: 24px;
}
.gennev #overview .skills {
  display: flex;
  flex-flow: row;
}
.gennev #overview .half.text {
  width: 100%;
  max-width: 750px;
}
.gennev #overview .half.image {
  margin-left: auto;
  justify-content: end;
  width: 100%;
}
.gennev #overview #skills {
  margin-top: -24px;
}
.gennev #goals .half.image {
  justify-content: center;
}
.gennev #goals .half.text {
  justify-content: center;
}

/*# sourceMappingURL=project.css.map */
