@import "./_variables.scss";
@import "./custom-styles";

.about {

  @media only screen and (min-width: $bp-desktop) {
    max-width:    $max-width-desktop;
    margin-left:  auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 20px) and (max-width: $max-width-desktop + 40) {
    margin-left:  20px;
    margin-right: 21px;
  }

  h1, h2, h3, h4, h5 {
    margin: 0 0 12px 0;
  }

  p + p {
    margin-top: 0;
  }

  section {
    display:        flex;
    flex-direction: column;
  }

  #profile {
    align-items:   center;
    margin-bottom: 20px;

    img {
      border-radius: 50%;
      max-width:     70vw;
    }

    @media only screen and (min-width: $bp-desktop) {
      img {
        max-width: 400px;
      }
    }
  }

  // --- Tiles ---
  .tiles {
    display:         flex;
    flex-flow:       row wrap;
    justify-content: space-between;
    margin-bottom: 30px;

    .tile {
      text-decoration: none;
      max-width:       45%;
      margin-left:     auto;
      margin-right:    auto;
    }

    img {
      width:        100%;
      aspect-ratio: 1;
    }

    p {
      @extend .bold;
      margin:     0;
      text-align: center;
    }

    @media only screen and (min-width: $bp-desktop) {
      .tile {
        max-width:     290px;
        margin-bottom: 30px;
      }
    }
  }

  #social {
    align-items: center;

    @media only screen and (min-width: $bp-desktop) {
      margin-top: 40px;
    }
  }

}
