@import "./_variables.scss";
@import "./custom-styles";

// Headings

h1, h2, h3, h4, h5, p, ul, li {
  margin-top:  0;
  font-family: $font-regular;
}

h1, h2, h3, h4, h5 {
  color: $black;
}

h1, h2 {
  font-weight:   700;
  margin-bottom: 8px;
}

h3, h5 {
  font-weight: 600;
}

h1 {
  font-size:   22px;
  line-height: 32px;
  @media only screen and (min-width: $bp-desktop) {
    font-size:   60px;
    line-height: 82px;
  }
}

h2 {
  font-size:   22px;
  line-height: 30px;
  @media only screen and (min-width: $bp-desktop) {
    font-size:   52px;
    line-height: 72px;
  }
}

h3 {
  font-size:      20px;
  line-height:    24px;
  letter-spacing: 0.1em;

  @media only screen and (min-width: $bp-desktop) {
    font-size:     40px;
    line-height:   54px;
    margin-bottom: 16px;
  }
}

h4 {
  font-weight:    400;
  color:          $black;
  font-size:      15px;
  letter-spacing: -0.02em;

  @media only screen and (min-width: $bp-desktop) {
    font-size: 34px;
  }
}

h5 {
  font-size:     16px;
  line-height:   20px;
  margin-bottom: 8px;

  @media only screen and (min-width: $bp-desktop) {
    font-size:     32px;
    line-height:   42px;
    margin-bottom: 18px;
  }
}

p {
  font-weight: 400;
  color:       $black;
  font-size:   14px;

  &.caps {
    font-weight:    600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height:    18px;
    margin-bottom:  8px;
  }

  @media only screen and (min-width: $bp-desktop) {
    font-size: 26px;

    &.caps {
      font-size:     24px;
      line-height:   32px;
      margin-bottom: 24px;
    }
  }
}

body, li, a {
  font-family:     $font-regular;
  color:           black;
  text-decoration: none;
  text-underline:  none;

  &:visited {
    color: black;
  }

  &:hover {
    color: black;
  }
}

a {
  text-decoration:           underline;
  text-underline-offset:     5px;
  text-decoration-thickness: 1px;
  padding-bottom:            5px;
}

p {
  font-size: 30px;
}

.back-button {
  position:    absolute;
  left:        30px;
  top:         30px;
  user-select: none;

  a {
    color:           #333333;
    font-size:       46px;
    text-decoration: none;
  }
}

.bg-pink {
  background: #FA92C4;
}
.bg-orange {
  background: #F4483D;
}
.bg-green {
  background: #8C8E1C;
}
.bg-black {
  background: #000000;
}
.bg-blue {
  background: #4EAAFF;
}

//--- Header ---
.header-wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;

  .logo {
    max-width: 108px;
  }

  img {
    max-width: 100%; 
  }

  .nav-links {
    display:   flex;
    // flex-flow: column;
    font-size: 20px;
    // justify-content: space-between;

  }

  a {
    text-decoration: none;

    & + a {
      margin-left: 20px;
    }
  }

  .active {
    @extend .bold;
  }

  @media only screen and (min-width: $bp-desktop) {

    .logo {
      max-width: unset;
    }

    .nav-links {
      font-size: 24px;
      flex-flow: row;
    }

  }
}

//--- Body ---
body {
  background: $white;
  //margin-left: 50px;
  //margin-right: 50px;
  margin-top: 24px;

  @media only screen and (min-width: $bp-desktop) {
    //margin-left: 64px;
    //margin-right: 64px;
    padding-top: 40px;
  }
}

.desktop-only {display: none;}

@media only screen and (min-width: $bp-desktop) {
  .mobile-only {display: none;}
  .desktop-only {display: unset;}
}