@import "./_variables.scss";
@import "./custom-styles.scss";

.home {

  max-width:       1300px;
  margin-left:     auto;
  margin-right:    auto;

  background:      url("./../img/light-background.png");
  background-size: contain;

  @media only screen and (min-width: 20px) and (max-width: 1400 - 1px) {
    margin-left:  28px;
    margin-right: 28px;
  }

  // --- Intro ---
  .intro {
    p {
      font-weight: 500;
      font-size:   22px;
      text-align:  center;
    }
    b {
      font-weight: 800;
      font-size:   24px;
    }

    @media only screen and (min-width: $bp-desktop) {
      p {
        font-size: 28px;
      }
      b {
        font-size: 28px;
      }
    }
  } 

  // --- Tiles ---
  .tiles {
    display:         flex;
    flex-flow:       row wrap;
    justify-content: center;

    a, .tile {
      max-width:       167px;
      max-height:      167px;
      width:           100%;
      text-decoration: none;
      aspect-ratio:    1;
      padding-bottom:  0;

      @media only screen and (min-width: $bp-desktop) {
        max-width:  275px;
        max-height: 275px;
      }
    }

    .tile {
      margin-bottom: 20px;
    }
  }

  .tile.image {
    background-size: contain;
  }

  .tile.text {
    @extend .flex-center-center;
    border-radius: 50%;
    flex-flow:     column;

    h2, p {
      text-align:    center;
      padding:       0;
      margin-top:    0;
      margin-bottom: 0;
      font-size:     18px;
      max-width:     285px;

      @media only screen and (min-width: $bp-desktop) {
        font-size: 25px;
      }
    }

    &.bg-pink:hover {
      background-color: #F962AB;
    }

    &.bg-green:hover {
      background-color: #BDC02B;
    }
  }

  .intro {
    margin-top:    60px;
    margin-bottom: 60px;
  }

  .img-container {
    display:         flex;
    justify-content: center;
  }

  h2 {
    line-height: unset;
  }

  // Credit to Nick Else: https://codepen.io/nickelse
  .diamond {
    height:      60%;
    width:       60%;
    text-align:  center;
    transform:   rotate(45deg);
    margin-left: 20%;
    margin-top:  20%;
  }

  .star {
    width:       80%;
    margin-top:  10%;
    margin-left: 10%;
    fill:        orange;
  }
}