@import "./_variables.scss";
@import "./custom-styles";

.illustrations {

  .header-wrapper {
    margin-bottom: 20px;
  }

  @media only screen and (min-width: $bp-desktop) {
    max-width:    $max-width-desktop;
    margin-left:  auto;
    margin-right: auto;
  }

  @media only screen and (min-width: 20px) and (max-width: $max-width-desktop + 40) {
    margin-left:  20px;
    margin-right: 20px;
  }

  h1, h2, h3, h4, h5 {
    margin: 0 0 12px 0;
  }

  p + p {
    margin-top: 0;
  }

  p {
    color: $grey;
  }

  .underline {
    width:         95px;
    border-radius: 3px;
    margin-bottom: 14px;
    border:        3px solid $bg-pink;

    @media only screen and (min-width: $bp-desktop) {
      width:         165px;
      margin-bottom: 24px;
    }
  }

  section {
    display:        flex;
    flex-direction: column;
    margin-bottom:  20px;

    @media only screen and (min-width: $bp-desktop) {
      margin-bottom: 40px;
    }
  }

  // --- Tiles ---
  .tiles {
    display:         flex;
    flex-flow:       row wrap;
    justify-content: space-between;
    margin-bottom:   30px;

    .tile {
      text-decoration: none;
      max-width:       45%;
      margin-left:     auto;
      margin-right:    auto;
    }

    img {
      width:         100%;
      border-radius: 20px;
      //aspect-ratio: 1;
    }

    @media only screen and (min-width: $bp-desktop) {
      //flex-flow: column wrap;

      .tile {
        max-width:     unset;
        margin-bottom: 30px;
        flex-basis:    30%;
        display:       flex;
        flex-flow:     column;
      }

      img {
        //width:      240px;
        font-size: 17px;
        margin:    20px auto auto;
      }
    }
  }

  #social {
    align-items: center;
    p {
      color: $black;
    }

    @media only screen and (min-width: $bp-desktop) {
      margin-top: 40px;
    }
  }
}