@import "./_variables";
@import "./custom-styles";

$max-width-desktop: 1100px;
$cover-bottom-margin: -670px;

.gennev {

  max-width: $max-width-desktop;
  margin-left: auto;
  margin-right: auto;
  background: $bg-color;

  //--- Headings ---

  h1, h2 {
    font-family: $font-regular;
    font-weight: 700;
    line-height: 76px;
    color: #13151A;
    margin-top: 0;
    margin-bottom: 8px;
  }

  h1 {
    @extend .txt-xxl;
    font-style: normal;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.03em;
  }

  h2 {
    @extend .txt-xl;
  }

  h3 {
    @extend .txt-lg;
  }

  h4 {
    @extend .txt-md;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: -0.02em;
    color: $grey;
  }

  h5 {
    @extend .txt-md;
    font-family: $font-light;
    font-weight: 400;
    color: $black;
    margin-top: 28px;
    margin-bottom: 0;
  }

  p {
    @extend .txt-sm;
    font-family: $font-mono;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.02em;
  }

  ul {
    list-style-type: disc;
    color: $gold;

    li::before {
      color: $gold;
    }

    li {
      @extend .txt-sm;
      font-family: $font-regular;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      color: $black;
    }
  }

  //--- Containers ---

  .section {
    width: 100%;
    //margin-left: 64px;
    //margin-right: 64px;
  }

  .full {
    width: 100%;
    display: flex;
  }

  .half {
    width: 50%;
    display: flex;
  }

  .third {
    width: 33%;
    display: flex;
    flex-flow: column;
  }

  .text {
    display: flex;
    flex-flow: column;
  }

  img {
    max-width: 100%;
  }

  //--- Special ---

  .underline {
    width: 165px;
    border: 3px solid $gold;
    border-radius: 3px;
  }

  //--- Section-Specific ---

  #cover {
    flex-direction: column;
    margin-top: 40px;
    background-image: url("./../img/gennev-cover.png");
    background-position: right 105px bottom 20%;
    background-repeat: no-repeat;

    .logo {
      width: 176px;
      margin-bottom: 25px;
    }

    h1 {
      max-width: 1152px;
      margin-top: 0;
    }

    h4 {
      margin-top: 0;
      margin-bottom: 600px;
    }

    .duration {
      margin-bottom: 92px;

      p {
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
        font-family: $font-mono;

        b {
          font-weight: 600;
          color: $black;
        }
      }
    }
  }

  #overview {
    margin-bottom: 128px;

    h2 {
      max-width: 1060px;
    }

    p {
      margin-bottom: 24px;
    }

    .skill-lists {
      display: flex;
      flex-flow: row;
    }

    .text {
      width: 100%;
    }

    .image {
      max-height: 832px;
    }

    .part-2 .text {
      padding-right: 16px;
    }

    .part-3 {
      margin-top: 40px;
    }
  }

  #goals {
    margin-bottom: 90px;

    .half.image {
      justify-content: center;
    }

    .half.text {
      justify-content: center;
    }
  }

  #closer-look {

    .part {
      width: 100%;
      height: 162px;
      display: flex;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      margin-bottom: 24px;
      border-radius: 81px;
    }

    .open-circle {
      background-image: url("./../img/gennev-open-circle.png");
      position: absolute;
      height: 204px;
      width: 204px;

      .inner-circle {
        @extend .flex-center-center;
        width: 164px;
        height: 164px;
        background: $white;
        border-radius: 50%;
      }
    }

    .circle {
      @extend .flex-center-center;
      width: 114px;
      height: 114px;
      background: $light-blue;
      border-radius: 50%;
      margin-left: 45px;
      margin-top: calc((162px - 114px) / 2);
    }

    .pill-text {
      // @extend .flex-vert-center;
      text-align: left;
      flex-direction: column;
      margin-left: 90px;
    }

    .analytics-header {
      margin-top: 128px;
      margin-bottom: 64px;
    }

    .analytics {
      justify-content: space-between;
      margin-bottom: 105px;
    }

    .analytic-1, .analytic-2, .analytic-3 {
      max-width: 300px;
      @extend  .txt-center;
      border-bottom: solid 24px;

      .question {
        @extend .txt-sm;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 16px;
      }
      .answer {
        margin-top: 0;
        margin-bottom: 30px;
        color: $blue;
        @extend .bold;
      }
    }

    .analytic-1 {
      border-color: $light-gold;
    }
    .analytic-2 {
      border-color: $gold;
    }
    .analytic-3 {
      border-color: $pink;
    }
  }

  #meet-robyn {
    .part-1 {
      h5 {
        max-width: 530px;
      }
      img {
        max-height: 365px;
        max-width:  355px;
      }
    }

    .part-2 {
      h3 {

      }
    }
  }

  #pain-points {

    h5 {
      margin-bottom: 60px;
    }

    .full {
      justify-content: space-between;
      margin-bottom: 60px;
    }

    img {
      height: 615px;
      width: 296px;

      &:first-of-type {
        margin-right: 32px;
      }
    }

    .text {
      justify-content: center;
      max-width: 400px;
    }
  }
}
